.navbar {
  
  background: rgba(0, 0, 0, 0.85);
  
  transition: transform 0.3s ease;
  color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}


.navbar a {
  color: white;
  
  padding: 0.5rem;
}

.navbar a:hover {
  text-decoration: underline;

}


.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0rem;
}

.burger-icon {
  font-size: 1.5rem;
  background: #31363f;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  margin-right: 0rem;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
}

.navbar-menu.open {
  display: block;
}

@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #282c34;
    position: absolute;
    top: 64px;
    right: 0px;
    padding: 1rem;
    border-radius: 0px;
  }

  .navbar-menu.open {
    display: flex;
  }
}